<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Amblygon Flannel</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="header">
    <div class="title">
      <a href="">Flannel</a>
    </div>
  </div>

  <div class="block-a">
    {% block body %}
    {% endblock %}
  </div>

  <div class="footer">
    {% block footer %}
    {% endblock %}
  </div>

</body>
</html>
